<html>
<head>
    <title>Poll</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'form' %}">Form Preview</a></li>
        <li><a href="{% url 'create' %}">Create Form Preview</a></li>
    </ul>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>question</th>
                <th>main image</th>
                <th>sub image</th>
            </tr>
        </thead>
        <tbody>
            {% for poll in poll_list %}
            <tr>
                <td><a href="{% url 'update' poll.pk %}">{{ poll.pk }}</a></td>
                <td>{{ poll.question }}</td>
                <td>
                    <a href="{{ poll.main_image.url }}"><img src="{{ poll.main_image.url }}" height="64"></a>
                </td>
                <td>
                    {% if poll.sub_image %}
                        <a href="{{ poll.sub_image.url }}"><img src="{{ poll.sub_image.url }}" height="64"></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>